{% extends 'base.html' %}

	{% block content %}

	<h1>Youre workout on {{workout.date}}</h1>

	<table>
	<tr>
    		<th>Exercise</th>
    		<th>Sets</th> 
   			<th>Reps</th>
   			<th>Load</th>
   			<th>Work</th>
   			<th>Rep Style</th>
   			<th>Notes</th>
 	 	</tr>
		{% for workout_set in workout.workoutset_set.all %}
 	 	<tr>
		<td>{{workout_set.exercise.title}}</td>
		<td>{{workout_set.sets}}</td>
		<td>{{workout_set.reps}}</td>
		<td>{{workout_set.load}}</td>
		<td>{{workout_set.work}}</td>
		<td>{{workout_set.rep_style}}</td>
		<td>{{workout_set.notes}}</td>
		{% endfor %}
	</table>
	{% endblock content %}



